%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=iso-8859-1" }
    %title= @title
    %link{:href => "/stylesheets/style.css", :type => "text/css", :rel => "stylesheet"}
  %body
    %div#page_wrapper
      %div#page_header
        %h1 whos.readingwhat.com
        %h2 Read, Share, Trade Your Books
      %div#menu_bar
        - form_for(:user, :url => new_login_path, :method => :post ) do |form|
          %ul
            %li
              %label{:for => :email_address} Email: 
              = form.text_field :email_address
            %li
              %label{:for => :password} Password:
              = form.password_field :password
            %li
              = submit_tag "Login"
      %div#content_wrapper
        = yield :layout
        %div#space/
  
    %div#page_footer
      %p
        \&copy; 2006 Darren Hester, DesignsByDarren.com, Some Rights Reserved.
        %br
        %a{:href => "http://validator.w3.org/check?uri=referer", :target => "_blank"} Valid XHTML 1.0 Transitional